@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* Variables */
:root {
  --background-color: #fafafa;
  --fd-blue: #3897f0;
  --link-color: #003569;
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Globals */
body {
  background-color: white;
  background-color: var(--background-color);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

main {
  animation: fadeInMain 0.5s linear;
  background-color: rgb(250, 250, 250);
  padding-top: 60px;
}

@keyframes fadeInMain {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Login */
#login {
  width: 100%;
  height: 80vh;
  max-width: 800px;
  margin: 45px auto;
  display: flex;
  justify-content: space-around;
}

#login .login__column {
  width: 45%;
}

.login__column .login__phone {
  max-width: 100%;
}

.login__column .login__box {
  background-color: white;
  border: 1px solid #e6e6e6;
}

.login__column .login__box--transparent {
  background: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.login__column .login__appstores {
  margin-top: 20px;
}

.login__appstores .login__appstore {
  height: 40px;
}

#login .login__box {
  padding: 30px 0;
  text-align: center;
}

#login .login__box:first-child {
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.login__column .login__logo {
  height: 50px;
}

.login__form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  font-size: 14px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: #fafafa;
  margin-bottom: 5px;
}

.login__form input:focus {
  outline: none;
  border: 1px solid #a9a9a9;
}

.login__form input:last-child {
  margin-bottom: 0px;
}

.login__form input[type='submit'] {
  background-color: #3f99ed;
  border: 0;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

#login .login__divider {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #999;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

#login .login__link {
  display: block;
  text-decoration: none;
  color: #003569;
}

#login .login__link--small {
  margin-top: 30px;
}

.login__box a {
  text-decoration: none;
  color: var(--fd-blue);
}

#login .login__divider:before {
  content: '';
  height: 1px;
  background-color: rgba(153, 153, 153, 0.5);
  width: 40%;
  position: absolute;
  left: 0;
  top: 10px;
}

#login .login__divider:after {
  content: '';
  height: 1px;
  background-color: rgba(153, 153, 153, 0.5);
  width: 40%;
  position: absolute;
  right: 0;
  top: 10px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(250, 250, 250);
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.footer .footer__list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer .footer__copyright {
  color: hsl(0, 0%, 60%);
}

.footer__list .footer__list-item {
  margin-right: 10px;
}

.footer .footer__link {
  text-decoration: none;
  color: var(--link-color);
}

/* Navigation */
.navigation {
  height: 75px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.navigation .navigation__column:first-child img {
  height: 45px;
}

.navigation .navigations__links {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.navigation .navigation__list-item {
  margin-left: 30px;
  padding: 0 2px;
  opacity: 0;
  animation: slideNavLink 0.5s ease-out forwards;
}

@keyframes slideNavLink {
  from {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.navigation .navigation__list-item:nth-child(2) {
  animation-delay: 0.2s;
}

.navigation .navigation__list-item:last-child {
  animation-delay: 0.3s;
}

.navigation__link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.navigation__column input {
  padding: 5px 0;
  padding-left: 60px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fafafa;
  font-size: 16px;
}

.navigation__column input:focus {
  outline: none;
  border: 1px solid #a9a9a9;
}

.navigation__column {
  position: relative;
}

.navigation__column .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

/* Explore */
#explore {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 500px;
}

#explore .explore__users {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
}

.explore__users .explore__user {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.explore__users .explore__user:last-child {
  border: 0;
}

.explore__user .explore__avatar {
  width: 55px;
  border-radius: 50%;
}

.explore__user .explore__user-column {
  display: flex;
  align-items: center;
}

.explore__user .explore__info {
  margin-left: 15px;
}

.explore__info .explore__username {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.explore__info .explore__full-name {
  color: #999;
}

.explore__user-column button {
  background-color: var(--fd-blue);
  color: white;
  border: 0;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.explore__user-column button:active,
.explore__user-column button:focus {
  outline: none;
}

.explore__user-column:active {
  opacity: 0.9;
}

/* Feed */
#feed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#feed .photo {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 65px;
}

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.photo__header .photo__avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.photo > img {
  width: 100%;
}

.photo .photo__info {
  padding: 15px 20px;
}

.photo__actions {
  margin-bottom: 15px;
  font-size: 115%;
}

.photo__actions .photo__action:first-child {
  margin-right: 15px;
}

.photo__actions .photo__action {
  cursor: pointer;
}

.photo .photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.photo .photo__add-comment-container {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo__add-comment-container textarea {
  width: 90%;
  border: 0;
  font-size: 14px;
  resize: none;
  height: 20px;
}

.photo__add-comment-container textarea:focus,
.photo__add-comment-container textarea:active {
  outline: none;
}

.photo__add-comment-container i {
  cursor: pointer;
}

.photo .photo__time-ago {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 10px;
  display: block;
}

.photo__comment {
  margin-bottom: 10px;
}

.photo__comments .photo__comment-author {
  font-weight: 600;
}

/* Profile */
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile .profile__header {
  max-width: 935px;
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  font-size: 110%;
}

.profile__header .profile__column {
  width: 70%;
}

.profile__header .profile__column:first-child {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__column:first-child img {
  width: 150px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;
}

@keyframes rotateLynn {
  from {
    transform: rotateY(0turn);
  }
  to {
    transform: rotateY(1turn);
  }
}

.profile__column .profile__title,
.profile__column .profile__stats {
  display: flex;
  align-items: center;
}

.profile__column .profile__title {
  margin-bottom: 30px;
}

.profile__title .profile__username {
  margin-right: 25px;
  font-size: 32px;
  font-weight: 300;
}

.profile__title a {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  padding: 5px 25px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.profile__title a:hover {
  background-color: #3f99ed;
  color: white;
  border-color: #3f99ed;
}

.profile__title i {
  cursor: pointer;
  transition: transform 1s ease-in;
}

.profile__title i:hover {
  transform: rotate(2turn);
}

.profile__column .profile__stats {
  margin-bottom: 30px;
}

.profile__stats .profile__stat {
  margin-right: 40px;
}

.profile__stat .stat__number {
  font-weight: 600;
}

.profile__bio .profile__full-name {
  font-weight: 600;
}

.profile__bio a {
  color: var(--link-color);
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.profile__column .profile__bio {
  line-height: 125%;
}

#profile .profile__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 936px;
  width: 100%;
}

.profile__photos .profile__photo {
  width: 31%;
  margin-bottom: 35px;
  position: relative;
}

.profile__photo img {
  max-width: 100%;
}

.profile__photo .profile__photo-background {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.profile__photo .profile__photo-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.profile__photo:hover .profile__photo-overlay {
  opacity: 1;
}

.profile__photo-overlay .overlay__item {
  font-size: 130%;
  display: flex;
  align-items: center;
}
.profile__photo-overlay .overlay__item:last-child {
  margin-left: 10px;
  /**/
}

.profile__photo-overlay .overlay__item i {
  font-size: 130%;
  margin-right: 5px;
}

/* Edit Profile */
#edit-profile {
  display: flex;
  justify-content: center;
}

#edit-profile .edit-profile__container {
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 100%;
  max-width: 800px;
}

#edit-profile .edit-profile__container {
  padding: 40px 0;
}

#edit-profile .edit-profile__header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.edit-profile__header .edit-profile__avatar-container {
  width: 200px;
}

.edit-profile__avatar-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

.edit-profile__avatar-container img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.edit-profile__header h4 {
  font-size: 18px;
  font-weight: 600;
}

.edit-profile__form .form__row {
  display: flex;
}

.form__row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form__row .form__label {
  width: 200px;
  display: block;
  text-align: right;
  margin-right: 35px;
  font-weight: 600;
  font-size: 16px;
}

.form__row label {
  font-size: 15px;
  width: 80%;
}

.form__row .form__input,
.form__row textarea {
  padding: 8px;
  width: 255px;
  resize: vertical;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.form__row input[type='checkbox'] {
  margin-right: 15px;
}

#edit-profile select {
  background: 0 0;
  border: 1px solid #efefef;
  border-radius: 3px;
  color: #262626;
  font-size: 16px;
  height: 32px;
  padding: 0 30px 0 10px;
}

#edit-profile input[type='submit'] {
  margin-left: 235px;
  border: 0;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  background-color: var(--fd-blue);
  font-size: 14px;
  padding: 7px 25px;
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 667px) {
  .navigation {
    padding: 0 20px;
    margin-bottom: 0;
  }
  .navigation input,
  .navigation .fa-search {
    display: none;
  }
  #feed .photo {
    background-color: transparent;
    border: 0;
    margin-bottom: 20px;
  }
  #feed .photo .photo__add-comment-container {
    display: none;
  }
  .footer {
    width: 80%;
  }
  .footer,
  .footer .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list .footer__list-item {
    margin-bottom: 10px;
  }
  #login .login__column {
    width: 100%;
  }
  #login .login__column:first-child {
    display: none;
  }
  #login .login__box {
    background-color: transparent;
    border: 0;
  }
  #profile {
    margin-top: 50px;
  }
  #profile .profile__header {
    flex-direction: column;
    align-items: center;
  }
  #profile .profile__title {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__title h3 {
    margin: 20px 0;
  }
  .profile__title a {
    margin-right: auto;
  }
  .profile__stats {
    justify-content: space-between;
  }
  .profile__stats .profile__stat {
    text-align: center;
    margin-right: 0;
  }
  .profile__stat span {
    display: block;
  }
  .profile__photos .profile__photo {
    width: 33%;
    margin-bottom: 0;
  }
  .profile__photos {
    margin-bottom: 50px;
  }
  #explore .explore__users {
    background-color: transparent;
    border: 0;
  }
  .explore__users .explore__user {
    border: 0;
  }
  #edit-profile > .edit-profile__container {
    border: 0;
  }
  #edit-profile .form__row {
    flex-direction: column;
  }
  .form__row .form__label {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  #edit-profile input[type='submit'] {
    width: 120px;
    margin: 0;
    margin-top: 20px;
  }
  #edit-profile .edit-profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #edit-profile .edit-profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .edit-profile__header .edit-profile__avatar-container {
    width: 0;
  }
}

.spinner {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  height: 85vh;
}

.no-post {
  display: flex;
  width: 100%;
}

.no-post .left img {
  width: 380px;
}

.no-post .right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.no-post .right h2 {
  font-size: 18px;
}

html,
#root,
body {
  background-color: rgb(250, 250, 250);
}

.navigation__avatar {
  width: 25px;
  border-radius: 50%;
}

.photo__add-comment-container textarea {
  overflow: hidden;
  line-height: 1;
}

.photo__add-comment-container button {
  border: none;
  padding: 0;
  color: #0095f6;
  background: none;
  font-weight: 600;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.photo__add-comment-container .opacity1 {
  opacity: 1;
}

.red-heart {
  color: rgb(237, 73, 86);
}

.remove-comment {
  color: rgb(237, 73, 86);
  opacity: 0.3;
  cursor: pointer;
}

.remove-comment:hover {
  opacity: 1;
}

.photo__comment {
  display: flex;
}

.photo__comment > span {
  flex-grow: 1;
}
